body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}




.navbar{
  display: flex;
  background-color:white;
  justify-content: space-around;
  border-bottom: 5px solid red;
  padding: 3rem;
  box-shadow: 2px 2px 2px yellowgreen;
  
  

  
  
}


.navbar li:hover {
  background: #ddd;
  color: yellow;
}


.nav-item ul{
  display: flex;

}
.nav-item ul li{
  margin-left: 10rem;
  list-style: none;
  color: red;
  font-size: 1.5rem;
  
}
.logo{
  margin-top: 1rem;

}
.store{
  color: white;
}
.square{
  color: white;
}





.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 4rem;
 
 
}

.box {
  width: 30%;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  
}

.box img {
  height: 200px;
  object-fit:cover;
  margin-top: 50px;
  border: 1px solid red;
  

}




footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  padding: 10px;
}

.site-map {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.site{
  color: white;
}




.site-map ul li {
  list-style: none;
  
  
}

p {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: white;
}

.container h3{
  display: flex;
  color: white;
  font-size: 1rem;
}

